* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: roboto;
}

.header,
.hero,
.info,
.testimonial,
.cta {
  width: 1100px;
  margin: auto;
}

.header-container,
.hero-container {
  background-color: #1f2937;
}
/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.header p {
  font-size: 24px;
  font-weight: 900;
  color: #f9faf8;
}

.header ul {
  list-style: none;
  display: flex;
  font-size: 18px;
  gap: 16px;
}

.header a {
  text-decoration: none;
  color: #e5e7eb;
}

/* Hero-section */

.hero {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.only-container {
  display: flex;
  gap: 16px;
}

.hero-content {
  flex: 1;
}

.hero-content h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.hero-content p {
  font-size: 18px;
  padding-right: 64px;
  color: #e5e7eb;
}

.hero-content button {
  background-color: #3882f6;
  color: #e5e7eb;
  font-size: 18px;
  font-weight: 900;
  padding: 8px 36px;
  margin-top: 8px;
  border-radius: 8px;
  border: none;
}

.hero-image {
  background-color: #8c8e92;
  color: #e5e7eb;
  font-size: 18px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Info-section */

.info {
  padding: 64px 128px 128px;
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.info h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.info-card-container {
  display: flex;
  margin: auto;
  gap: 64px;
}

.info-card {
  flex: auto;
  text-align: center;
}

.blue-border {
  height: 180px;
  border: 4px solid #3882f6;
  border-radius: 24px;
}

.info-card p {
  color: #4d4e52;
  font-size: 18px;
}

/* Testimonial section */

.testimonial-container {
  background-color: #e5e7eb;
}

.testimonial {
  padding: 128px;
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  color: #1f2937;
}

.testimonial-box {
  padding: 32px;
}

.cite {
  font-size: 24px;
  font-weight: 900;
  font-style: normal;
  text-align: right;
  padding-right: 24px;
}

/* CTA section: */


.cta {
  padding: 128px 0;
}

.blue-cta {
  background-color: #3882f6;
  color: #e5e7eb;
  display: flex;
  align-items: center;
  padding: 64px 128px;
  border-radius: 8px;
}

.content-cta {
  flex: 2;
}

.content-cta p {
  font-size: 18px;
  padding: 8px 0;
}

.button-cta {
  flex: 1;
  text-align: right;
}

.button-cta button {
  padding: 8px 36px;
  font-size: 18px;
  font-weight: 900;
  border-radius: 8px;
  border: 3px solid #e5e7eb;
  color: #e5e7eb;
  background-color: transparent;
}

/* Footer: */

.footer{
  background-color: #1f2937;
  color: #e5e7eb;
  padding: 64px;
  display: flex;
  justify-content: center;
  font-size: 18px;
}